/* styles.css */

body {}

h1 {
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    word-spacing: 70px;
    
}
#wraper {
    width: 700px;
    height: 200px;
    display: block;
    position: relative;
    border:;
    box-shadow: 0px 0px 10px 10px lightblue; ;
    margin: auto;
    top: 200px;
    color: lightblue;
    
}

#lbs {
    margin-top: 10px;
    position: relative;
    opacity: 0;
    animation: go 2s linear infinite;
    
}



@keyframes go {
    0%{transform: translateX(); opacity: 0}
    20%{transform: translateX(); opacity: 1}
    80%{transform: translateX(); opacity: 1}
    100%{transform: translateX(500px); opacity: 0}
}